code/Detectron/.github/
code/classify_keras/train_dataset/
code/classify_keras/valid_dataset/
code/classify_keras/record/events.out*
code/classify_keras/record/*.out
code/model/cnn_model/*.h5
code/model/mask_model/*.log
code/model/mask_model/*.pkl
code/model/mask_model/train
code/model/*.zip
code/model/npy/*.npy
code/model/pre_train_model/*.h5
code/model/pre_train_model/*.pkl
code/model/normal_visualization_jpg/*.jpg
code/model/object_detection_model/*.log
code/model/object_detection_model/*.pkl
code/model/test_visualization_jpg/*.jpg
